.right { float: right;}
.left { float: left; }
.clear { clear: both; }

body {
	overflow: hidden;
}

.row {
	width: 100%;
}

.box {
	float:left;
	width: 33%;
	height: 100%;
	overflow: hidden;
}

.box img {
	margin: 0 auto;
}